link( rel='import' href='../vendor/polymer/polymer.html' )

//- Form
link( rel='import' href='../vendor/iron-form/iron-form.html' )
link( rel='import' href='../vendor/paper-input/paper-input.html' )
link( rel='import', href='../vendor/paper-button/paper-button.html' )

//- styles
link( rel='import' href='../vendor/paper-styles/paper-styles.html' )